/* Reset CSS */
* {
    font-family: Arial, sans-serif;
    Margin: 0;
    Padding: 0;
    Box-sizing: border-box;
}

body {
    background-color: rgb(250, 250, 250);
}

/* Header */
header {
    width: 100%;
    height: 10%;
    background-color: white;
    vertical-align: middle;
}

#logo {
    margin: 1%;
    margin-top: 1%;
    margin-right: 0%;
    vertical-align: middle;
}

h2.logo-text {
    vertical-align: middle;
    display: inline;
    font-size: 32px
}

/* Main + nav + section */
main {
    width: 50%;
    height: 500px;
    background-color: white;
    border-radius: 1%;
    margin: 0 auto;
    margin-top: 1%;
    padding-left: 3%;
    padding-top: 1%;
}

nav {
    height: 7%;
    border-bottom: 5px;
    border-color: red;
}




/* section {
    margin-top: 5%;
    width: 100%;
    height: 100%;
} */