/* Reset CSS */
* {
    Margin: 0;
    Padding: 0;
    Box-sizing: border-box;
}

/* Generics */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(251, 251, 251);
}

/* Utils */

.container {
    width: 50%;
    margin: 0 auto;
}

/* Header */

header {
    height: 50px;
    line-height: 50px;
    background-color: white;
    padding-left: 10px;
    margin-bottom: 20px;
}

.logo {
    height: 40px;
    vertical-align: middle;
}

h1 {
    display: inline;
    vertical-align: middle;
    font-size: 32px;
}

/* Nav + list  */
.box {
    background-color: white;
    border-radius: 5px;
}

.navbox {
    padding: 20px 25px;
    border-bottom: 1px solid rgb(251, 251, 251)
}

.listbox {
    padding: 20px 25px;
}

.button {
    font-size: 10px;
    border-radius: 5px;
    padding: 5px 10px;
    border: 1px solid;
}

button.task {
    color: white;
    background-color: rgb(95, 164, 254);
    border-color: currentColor;
}

button.section {
    color: grey;
    background-color: white;
    border-color: currentColor;
}

/* List */
ul {
    list-style-type: none;
}

.list h3 {
    margin-top: 20px;
}

.task-item {
    line-height: 40px;
    height: 40px;
}

.status {
    border-radius: 50%;
    width: 15px;
    height: 15px;
    display: inline-block;
    font-size: 10px;
    line-height: 15px;
    text-align: center;
    vertical-align: middle;
}

.status.done {
    color: green;
    border: 1px solid currentColor;
}

.status.undone {
    color: red;
    border: 1px solid currentColor;
}

.text {
    vertical-align: middle;
}

.category {
    color: white;
    font-size: 10px;
    vertical-align: middle;
    border-radius: 10px;
    padding: 5px 10px;
}

.category.blue {
    background-color: rgb(95, 164, 254);
}

.category.purple {
    background-color: purple;
}

.category.green {
    background-color: green;
}

.category.orange {
    background-color: orange;
}

.category.pink {
    background-color: pink;
}

.category.lightgreen {
    background-color: lightgreen;
}